body {
	background-color: beige;
	margin: 0;
	padding: 0;
	font-family: "Georgia", "Times New Romans", "times" serif;
}

.container {

	background-color: #333333
	margin: 30px, 30px;
	text-align: left;w
}